{% extends 'base.html.twig' %}

{% block title %}Hello TestTypeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% for creature in creature %}
        <ul>
            <li> {{ creature.name }} : Types
                {% for type in creature.types %}
                    {{ type.name }}
                {% endfor %}
            </li>

            <li> {{ creature.name }} : Habitats
                {% for habitat in creature.habitat %}
                    {{ habitat.name }}
                {% endfor %}
            </li>
        </ul>
    {% endfor %}

    {% for user in users %}
        <ul>
        <li>User : {{ user.name }}</li>
        <li>email : {{ user.email }}</li>
        </ul>
    {% endfor %}
</div>
{% endblock %}
